@import url("https://fonts.googleapis.com/css2?family=Lora:wght@700&family=Inter:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css1?family=Inter:wght@400;600&family=Noto+Serif:wght@400;800&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* :roo.dark{ */
:root {
  --clr-red: #ff2850;
  --clr-orange: #ff9600;
  --clr-yellow: #ffb30f;
  --clr-green: #3ec949;
  --clr-cyan: #4db7dd;
  --clr-blue: #0076f0;
  --clr-purple: #5751d0;

  --ml-red: #ff5757;
  --ml-yellow: #ffd04d;
  --ml-green: #7cd14d;
  --ml-cyan: #4ebafd;
  --ml-blue: #5883f0;
  --ml-purple: #af90c4;

  --color-bg-1: rbg(229, 231, 235);
  --color-bg-1: rbg(224, 226, 230);
  --platinum: #f8f8f8 --foreground: #d4cdc0;
  --salmon: #f2856d;
  --yellow: #f2b56b;
  --pistachio: #c1d98f;
  --azure: #8ed8f8;
  --blue: #8ca7d7;
  --violet: #b293bf;
  --highlight: #e7e8e9;
  --text: #bbbbbb;
  --subtext: #87959b;
  --subdued: #536e7a;
  --muted: #2e3c44;
  --hover: #1c2329;
  --surfaces: #13171b;
  --lines: #0e1114;
  --shade: #0c0e1f;
  --base: #090a0d;
  --lvl1: rgb(13, 17, 23);
  --shadow: 10px 10px 8px #00000088;
  --ash: #efeff0;
  --text1: rgb(240, 242, 244);
  --text2: rgb(134, 143, 151);
  --text3: rgb(74, 80, 87);
  background-color: var(--color-bg-1);
  background-color: var(--platinum);
  --shadow: 0 1px 3px 0 rgb(0 0 0 / 0.15), 0 1px 2px -1px rgb(0 0 0 / 0.15);
  --subtext: rgb(115, 115, 115);
  color: var(--subtext);
  font-weight: 400;
  line-height: 1.6rem;
  --sans-font:
    "Inter", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --serif-font:
    "Lora", "Noto Serif", ui-serif, Georgia, Cambria, "Times New Roman", Times,
    serif;

  font-family: var(--sans-font);
}

body {
  min-height: 100vh;
  margin: 0;
  background-color: var(--color-bg-1);
  background-size: 100vw 100vh;
}

a {
  text-decoration: none;
  color: var(--base);
  color: inherit;
  font-weight: 400;
}

a:hover {
  text-decoration: underline;
}
